# ======================
# Python / Virtual Env
# ======================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Streamlit
# ======================
.streamlit/

# ======================
# PyCharm
# ======================
.idea/
*.iml

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db

# ======================
# Secrets / Local config
# ======================
.env
.env.*
